{% extends 'news/base.html' %}

{% block titile %}
    首页
{% endblock %}
{% block nav %}
 <ul class="menu fl">
            {% for catagory in data.catagories %}
                <li class="{% if loop.index0 == 0 %}
                active
                {% endif %}" data-cid="{{ catagory.id }}"><a href="javascript:;">{{ catagory.name }}</a></li>
            {% endfor %}
        </ul>
    {% if data.user_info %}
            <!-- 用户登录后显示下面，隐藏上面 -->
            <div class="user_login fr">
                {#                <img src="../../static/news/images/person01.png" class="lgin_pic">#}
                <img src="{% if data.user_info.avatar_url %} {{ data.user_info.avatar_url }}{% else %}../../static/news/images/person01.png
{% endif %}" class="lgin_pic">
                <a href="#">{{ data.user_info.nick_name }}</a>
                <a href="#" onclick="logout()">退出</a>
            </div>
        {% else %}
            <div class="user_btns fr">
                <a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
            </div>
        {% endif %}
{% endblock %}
{% block content %}
<div class="conter_con">
    <ul class="list_con fl">

    </ul>
    <div class="rank_con fr">
        <div class="rank_title">
            <h3>点击排行</h3>
        </div>
        <ul class="rank_list">
            {#            <li><span class="first">1</span><a href="#">势如破竹！人民币再度连闯四道关口 在岸、离岸双双升破6.42</a></li>#}
            {#            <li><span class="second">2</span><a href="#">凛冬已至，还有多少银行人在假装干银行</a></li>#}
            {#            <li><span class="third">3</span><a href="#">人民日报：部分城市楼市放松限制引关注，楼市调控不会“拉抽屉”</a></li>#}
            {% for news in data.click_news_list %}
                <li><span class='{{ loop.index0|index_class }}'>{{ loop.index }}</span><a href="/news/{{ news.id }}">{{ news.title }}</a>
                </li>
            {% endfor %}


        </ul>
    </div>
</div>

{% endblock %}



